
body {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: black;
    margin: 0;
    padding: 0;
}



header {
    background-color: teal;
    color: black;
    padding: 20px;
}

    header h1 {
        margin: 0;
    }

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            text-decoration: none;
            color: black;
        }

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

section {
    background-color: lightblue;
    padding: 40px 0;
}

footer {
    background-color: teal;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

